.hero{
    color:white;
    font-size: 50px;
    padding:10px;
    margin-top: 5px;
    background-image: linear-gradient(blue,purple);
    text-align: center;
}
.card{
    margin: 0 0 20px 0;
    border: 3px solid black;
    border-radius: 5%;
}
h3{
    font-size:40px;

}



input{
    position: relative;
    width: 100%;
}
#current-weather{
    margin-top: 10px;;
    border: solid 1px black;
}


#current-weather h1{
    font-size: 50px;

}

.seperator{
height:2px;
background: blueviolet;
margin: 10px 0;
box-shadow: 0px 0px 0px 5px 2px rgba(red, green, blue, alpha);
}

.btn{
    margin-top: 10px;
   width: 100%;
}