.hero{
    color:white;
    font-size: 50px;
    padding:10px;
    margin-top: 5px;
    background-image: linear-gradient(blue,purple);
    text-align: center;
}
.card{
    margin: 0 0 20px 0;
    border: 3px solid black;
    border-radius: 5%;
}
h3{
    font-size:40px;

}

div{
    display: inline-block;
    padding: 5px;
    max-width: 100%;
}

input{
    position: relative;
    width: 100%;
}
.container{
   
    border: solid black;
}


#current-weather h1{
    font-size: 50px;

}

